<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020-2026 Comraich ANS. Licensed under the Apache License, Version 2.0.</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SSH TunnelBuilder Connections</string>
			<key>UTTypeIdentifier</key>
			<string>no.comraich.ssh-tunnelbuilder.export</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sshtunnels</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
